<table>
  <col width="20%"><col width="80%">
  <tr>
    <td class="first_col">Выберите X:</td>
    <td class="second_col">
      <span *ngFor="let value of firstLineValues">
        {{value}} <input type="radio" name="radioX" class="animated"
                         [(ngModel)]="x" value="{{value}}">
      </span><br>
      <span *ngFor="let value of secondLineValues">
        {{value}} <input type="radio" name="radioX" class="animated"
                         [(ngModel)]="x" value="{{value}}">
      </span>
    </td>
  </tr><tr>
    <td class="first_col">Введите Y:</td>
    <td class="second_col"><input type="text" [(ngModel)]="y"></td>
  </tr><tr>
    <td class="first_col">Выберите R:</td>
    <td class="second_col">
      <span *ngFor="let value of rValues">
      {{value}} <input type="radio" name="radioR" class="animated"
                (click)="radiusService.setR(value)" value="{{value}}">
      </span>
    </td>
  </tr>
</table>

<div>
  <button (click)="addPoint()">Добавить точку</button>
  <button (click)="clearPoints()">Убрать точки</button>
  <button (click)="logout()">Выйти</button>
</div>
