* {
    font-family: "sans-serif", Arial, fantasy;
    text-align: center;
    font-weight: normal;
}

body { background-color: whitesmoke }

#header, #footer {
    z-index: 10;
    width: 100%;
    position: fixed;
    color: white;
    background-color: #000720;
    left: 0;
}

#footer {
    bottom: 0;
    padding: 10px;
}

#header {
    font-size: 0.6em;
    top: 0;
}

/*#header > h1 { margin-top: 0 }*/

#figure img {
    width: 47px;
    height: 55px;
}

#figure > span {
    font-size: 0.8em;
    display: block;
}

.list {
    background-color: #F6F6FB;
    border-spacing: 10px;
    width: 75%;
}

.shaded { box-shadow: 0 0 10px 1px black }
.shaded:hover {
    box-shadow: 0 0 20px 2px black;
    transition: 0.5s;
}

.animated:hover {
    transform: scale(1.05);
    transition: 0.5s;
}