<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemalocation=" http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--<context-param>
        <param-name>javax.faces.application.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/navigation-config.xml, /WEB-INF/beans-config.xml</param-value>
    </context-param>-->

    <error-page>
        <error-code>404</error-code>
        <location>/views/error_page.xhtml</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>/views/index.xhtml</welcome-file>
    </welcome-file-list>

</web-app>